.home_cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 2rem 3rem;
}

.astronaut {
  width: 10.5rem;
  user-select: none;
}

.empty_title {
  margin-top: 1rem;
  font-size: 1.8rem;
  font-weight: 600;
  user-select: none;
}

.empty_subtitle {
  margin-top: 1rem;
  font-size: 1.6rem;
  user-select: none;
}

.mobile_menu_btn {
  position: absolute;
  top: 3.6rem;
  font-size: 1.8rem;
  width: 3rem;
  height: 2.46rem;
  background-color: var(--sky-pulse);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 0.6rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: 0.2s all;
  z-index: 1;
  transition: transform 0.2s ease-in-out;
}

.mobile_menu_btn_open {
  transform: translateX(22.4rem);
}

.mobile_menu_btn:hover {
  width: 3.5rem;
}

.mobile_menu {
  width: 22.4rem;
  height: 100%;
  background-color: var(--dark-blue);
  border: 0.4rem solid var(--sky-pulse);
  position: absolute;
  left: 0;
  top: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  transform: translateX(-100%);
  transition: transform 0.2s ease-in-out;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 0 2rem;
  z-index: 1;
}

.mobile_menu_open {
  transform: translateX(0);
}

.chat_cont {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  width: 100%;
  height: 100%;
}

.active_chat {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--dark-blue);
  border-radius: 0.8rem;
  max-width: 900px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 1.3rem 0.5rem 1.1rem 0.5rem;
  position: relative;
}

.contact_info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.275rem;
  font-size: 1.8rem;
}

.contact_info .icon {
  background-color: var(--soft-aqua);
  padding: 0.75rem 0.83rem;
  border-radius: 50%;
  color: var(--dark-blue);
}

.messages_cont {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  margin-top: 2rem;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  padding: 2rem 0;
}

.send_message_cont {
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem;
}

.send_message_cont button {
  background-color: var(--sky-pulse);
  color: var(--dark-blue);
  height: 100%;
  width: 4rem;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
}

.send_message_cont button:hover {
  transform: scale(1.1);
  box-shadow: 0px 1px 8px var(--sky-pulse);
}
.send_message_cont button:active {
  transform: scale(0.9);
}

.send_message_cont button:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.send_message {
  background-color: var(--slate-blue);
  width: 100%;
  border-radius: 0.4rem;
  height: 3.6rem;
  text-align: center;
  color: var(--blue-gray);
}

.send_message::placeholder {
  color: var(--blue-gray);
}

.settings_icon {
  opacity: 0.3;
  font-size: 1.8rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  transition: 0.2s all;
}

.settings_icon:hover {
  opacity: 1;
  transform: rotate(30deg);
}

.add_btn {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  font-size: 2rem;
  border-radius: 50%;
  width: 2.2rem;
  background-color: var(--soft-aqua);
  cursor: pointer;
  transition: 0.2s all;
  z-index: 10;
}

.add_btn:hover {
  background-color: var(--sky-pulse);
  transform: scale(1.1);
}

@media (min-width: 768px) {
  .home_cont {
    flex-direction: row;
    padding: 0;
    width: 100%;
  }
  .mobile_menu {
    transform: translate(0) !important;
    width: 24.4rem;
    height: 100vh;
    position: relative;
  }

  .mobile_menu_btn {
    display: none;
  }
}