.chat_cont {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-bottom: 0.5px solid var(--sky-pulse);
  width: 100%;
  padding: 2rem 0;
  cursor: pointer;
}

.chat_cont div {
  background-color: var(--soft-aqua);
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--dark-blue);
  font-size: 2rem;
}

.chat_cont p {
  font-size: 1.6rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 50%;
}

.chat_cont:hover p {
  color: var(--soft-aqua);
}

.chat_cont.active_chat {
  color: var(--sky-pulse);

  font-weight: 600;
}

.trash {
  font-size: 1.5rem;
  color: var(--chili-red);
  cursor: pointer;
  pointer-events: none;
  transition: 0.2s all;
  opacity: 0;
  padding: 1rem;
}

.chat_cont:hover .trash {
  opacity: 1;
  pointer-events: all;
}

.trash:hover {
  transform: scale(1.1) rotate(10deg);
}